@import "./variable";

%col{
    position: relative;
    min-height: 1px;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
}

@mixin col-size($size, $section) {
    @for $i from 1 through $section {
        .col-#{$size}-#{$i} {
            width: $i / $section * 100 + %;
            float: left;
            box-sizing: border-box;
        }
        .col-#{$size}-pull-#{$i} {
            right: $i / $section * 100 + %;
        }
        .col-#{$size}-push-#{$i} {
            left: $i / $section * 100 + %;
        }
        .col-#{$size}-offset-#{$i} {
            margin-left: $i / $section * 100 + %;
        }
    }
    .col-#{$size}-pull-0 {
        right: auto;
    }
    .col-#{$size}-push-0 {
        left: auto;
    }
    .col-#{$size}-offset-0 {
        margin-left: 0%;
    }
    .container-#{$size}-height, .row-#{$size}-height, {
        width: 100%;
    }
    .container-#{$size}-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-#{$size}-height {
        display: table-row;
    }
    .col-#{$size}-height {
        display: table-cell;
        float: none;
    }
}
.row {
    margin-left: $gutter / 2 * -1;
    margin-right: $gutter / 2 * -1;
    &:after,&:before {
        clear: both;
        content: " ";
        display: table;
    }
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

@for $i from 1 through $section {
    @each $key, $val in $sizes {
        .col-#{$key}-#{$i} {
            @extend %col;
        }
    }
}

@each $key, $val in $sizes {
    @if $val == null{
        @include col-size($key, $section);
    } @else {
        @media (min-width: $val) {
            @include col-size($key, $section);
        }
    }
}

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}