@import "./variable";

@each $key, $val in $ms {
    .m#{$key}{
        margin: $val !important;
    }
    .m#{$key}.n{
        margin: $val * -1 !important;
    }
    .mb#{$key} {
        margin-bottom: $val !important;
    }
    .mb#{$key}.n,{
        margin-bottom: $val * -1 !important;
    }
    .mt#{$key} {
        margin-top: $val !important;
    }
    .mt#{$key}.n,{
        margin-top: $val * -1 !important;
    }
    .ml#{$key} {
        margin-left: $val !important;
    }
    .ml#{$key}.n,{
        margin-left: $val * -1 !important;
    }
    .mr#{$key} {
        margin-right: $val !important;
    }
    .mr#{$key}.n,{
        margin-right: $val * -1 !important;
    }
}