.city-picker {
    width: 100%;
    position: relative;

    > .form-control:focus {
        ~ .city-picker-dropdown {
            display: block;
        }
    }

    .city-picker-dropdown {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 1;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        display: none;

        &:hover {
            display: block;
        }

        .breadcrumb {
            background-color: #ccc;
            border-radius: 0;
        }
        .city-select-content {
            padding: 10px 15px;
            max-height: 250px;
            overflow: auto;
            position: relative;

            dl {
                line-height: 2;
                clear: both;
                padding: 10px 0;
                margin: 0;
                border-top: 1px solid #ccc;

                &:first-child {
                    border-top: 0;
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                &:hover dt {
                    background-color: #9e9e9e;
                }

                dt {
                    position: absolute;
                    width: 20px;
                    font-weight: 500;
                    text-align: center;
                    background-color: #ccc;
                    color: #fff;
                    margin: 3px;
                    display: inline-block;
                    border-radius: 100%;
                }
                dd {
                    margin-left: 3em;
                    line-height: 2;

                    a {
                        display: inline-block;
                        padding: 0 10px;
                        outline: 0;
                        text-decoration: none;
                        white-space: nowrap;
                        margin-right: 2px;
                        text-decoration: none;
                        color: #333;
                        cursor: pointer;

                        &.active,&:hover {
                            background-color: #46A4FF;
                            color: #fff;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
    }
}